/* Footer.css */
.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
}

.footer_center {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer_right {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.footer_albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer_songInfo {
  display: flex;
  flex-direction: column;
}

.footer_songInfo > h4 {
  margin-bottom: 5px;
}

.footer_songInfo > p {
  font-size: 12px;
}

.footer_icon {
  margin: 0 15px;
  cursor: pointer;
}

.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in;
  transform: scale(1.2);
}

.footer_right .MuiSlider-root {
  color: #1ed15e;
  width: 100px; /* Adjust the width as needed */
  margin-left: 20px; /* Adjust the margin as needed */
}
