/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #282828;
  border-bottom: 1px solid #404040;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left input {
  background-color: #404040;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
  outline: none;
  width: 250px;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right h4 {
  margin-left: 10px;
}
